mat-table.mat-elevation-z8 {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

mat-table.mat-elevation-z8 td, mat-table.mat-elevation-z8 th {
text-align: center;
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

mat-table.mat-elevation-z8 tbody td {
  font-size: 13px;
}

mat-table.mat-elevation-z8 tr:nth-child(even) {
  background: #D0E4F5;
}

mat-table.mat-elevation-z8 thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

mat-table.mat-elevation-z8 thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
  position: fixed;
}

mat-table.mat-elevation-z8 thead th:first-child {
  border-left: none;
}

mat-table.mat-elevation-z8 tfoot td {
  font-size: 14px;
}
mat-table.mat-elevation-z8 tfoot .links {
  text-align: right;
}

mat-table.mat-elevation-z8 tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#main{
  max-height: 500px;
  height: auto;
  background-color: white;
  padding: 0;
}

#body{
  max-height: 100%;
  overflow: auto;
  padding:0;
}
