<div id="main">
  <div id="body">
    <mat-table [dataSource]="tableArray" class="mat-elevation-z8">
      <ng-container matColumnDef="geohash">
        <th mat-header-cell *matHeaderCellDef> Geohash </th>
        <td mat-cell *matCellDef="let cell"> {{cell.geohash}} </td>
      </ng-container>
      <ng-container matColumnDef="market">
        <th mat-header-cell *matHeaderCellDef> Market </th>
        <td mat-cell *matCellDef="let cell"> {{cell.market}} </td>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region </th>
        <td mat-cell *matCellDef="let cell"> {{cell.region}} </td>
      </ng-container>
      <ng-container matColumnDef="cellType">
        <th mat-header-cell *matHeaderCellDef> Cell Type </th>
        <td mat-cell *matCellDef="let cell"> {{cell.cellType}} </td>
      </ng-container>
      <ng-container matColumnDef="cgi">
        <th mat-header-cell *matHeaderCellDef> CGI </th>
        <td mat-cell *matCellDef="let cell"> {{cell.cgi}} </td>
      </ng-container>
      <ng-container matColumnDef="azimuth">
        <th mat-header-cell *matHeaderCellDef> Azimuth </th>
        <td mat-cell *matCellDef="let cell"> {{cell.azimuth == undefined ? 'N/A':cell.azimuth}} </td>
      </ng-container>
      <ng-container matColumnDef="freqBand">
        <th mat-header-cell *matHeaderCellDef> Frequency Band </th>
        <td mat-cell *matCellDef="let cell"> {{cell.freqBand}} </td>
      </ng-container>
      <ng-container matColumnDef="tac">
        <th mat-header-cell *matHeaderCellDef> Tac </th>
        <td mat-cell *matCellDef="let cell"> {{cell.tac}} </td>
      </ng-container>
      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let cell"> {{cell.latitude}} </td>
      </ng-container>
      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let cell"> {{cell.longitude}} </td>
      </ng-container>
      <ng-container matColumnDef="retcapable">
        <th mat-header-cell *matHeaderCellDef> Ret Capable </th>
        <td mat-cell *matCellDef="let cell"> {{cell.retcapable == 1 ? 'yes':'no'}} </td>
      </ng-container>
      <ng-container matColumnDef="enodeBID">
        <th mat-header-cell *matHeaderCellDef> EnodeBID </th>
        <td mat-cell *matCellDef="let cell"> {{cell.enodeBID}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
</div>
