   
	   #main{
      height:100vh;
      width: 100vw;
      background-color: honeydew;
      background-repeat: no-repeat;
      background-size: cover;
     }
     #ericsson {
       z-index: 2;
       top: 0px;
       position: absolute;
       left: -1px;
     }
     #settingBtn {
       z-index: 2;
       top: 2%;
       position: absolute;
       right: 2%;
     }
     #goBtn {
       z-index: 2;
       bottom: 1vw;
       position: absolute;
       right: 2%;
       background-color: cornflowerblue;
       width: 0.5%;
     }
     #go{
       color: white;
       font-size: 15px;
     }
     
     #globe{
       z-index: 2;
       position: absolute;
       left: 37.5%;
       top: 12%;
      width: 25vw;
      height:auto;
     }
     #colour{
      z-index: 2;
      position: absolute;
      right: 3%;
      top: 90%;
      font-size: 1.25vw;
     }
     #logoText{
       z-index: 2;
       position: absolute;
       left: 37.5%;
       top: 70%;
      font-family: "Lucida Console", Monaco, monospace;
     font-size: 2vw;
     letter-spacing: 0px;
     word-spacing: 2px;
     color: rgb(3, 101, 161);
     font-weight: normal;
     text-decoration: none;
     font-style: italic;
     font-variant: normal;
     text-transform: uppercase;
     }
     #road {
       z-index: 2;
       font-size: 30px;
       background-color: #87CEFA;
       position: fixed;
       bottom: 10%;
       left: 33%;
     }
     #satellite {
       z-index: 2;
       font-size: 30px;
       background-color: #87CEFA;
       position: fixed;
       bottom: 10%;
       left: 53%;
     }
     /* mat-sidenav-container{
       z-index: 1;
       top: 2%;
       position: absolute;
       right: 2%;
       height: 50%;
       width: 17vw;
     }
     mat-sidenav,mat-sidenav-content{
       padding: 16px;
     }
     mat-sidenav{
       background-color: white;
       width: 100vw;
       padding-top: 50px;
         padding-bottom: 50px;
         padding-left: 5px;
     } */