<div id="main">
  <img src="assets/images/ericsson.png" align="right" id="ericsson">
  <!-- <button mat-button id="settingBtn" (click)="opened=!opened"><i class="material-icons">settings</i></button> -->
  <div>
    <img src="assets/images/globe.png" id="globe">
    <div id="container">
      <p id="logoText">RBS Mapping service</p>
    </div>
    <button id="satellite" (click)="launch($event)" value="false" mat-raised-button>Satellite Map</button>
    <button id="road" (click)="launch($event)" value="true" mat-raised-button>Road Map</button>
    <mat-checkbox id="colour" (change)="colourBlind()">ColourBlind mode</mat-checkbox>
  </div>
</div>
<!-- <mat-sidenav-container>
  <mat-sidenav position="end" [(opened)]="opened"> -->
    
    <!-- <button mat-button id="goBtn" (click)="showSettings()"><i id="go">Go</i></button> -->
  <!-- </mat-sidenav>
</mat-sidenav-container> -->
