<!-- display cell Information based on what cell was selected -->
<div *ngIf="cell">
  <div id="headerDiv">
    <div id="top">
      <h3 id="header">Cell details</h3>
    </div>
    <p id="cgi">Cgi: {{cell.cgi}}</p>
  </div>
  <div id="bodyDiv">
    <div id="detailsDiv">
      <h4 id="coorHead">Information</h4>
      <p id="geohash">Geohash: {{cell.geohash}}</p>
      <p id="market">Market: {{cell.market}}</p>
      <p id="region">Region: {{cell.region}}</p>
      <p id="cellType">CellType: {{cell.cellType}}</p>
      <p id="azimuth">Azimuth: {{cell.azimuth == undefined ? 'N/A':cell.azimuth}}</p>
      <p id="freqBand">Frequency band: {{cell.freqBand}}</p>
      <p id="tac">Tac: {{cell.tac}}</p>
      <p id="retcapable">Ret Capable: {{cell.retcapable == 1 ? 'yes':'no'}}</p>
      <p id="cellLon">Lon: {{cell.longitude}}</p>
      <p id="cellLat">Lat: {{cell.latitude}}</p>
    </div>
  </div>
</div>
