#headerDiv {
  border-style: solid;
  background-color: #0082F0;
}

#headerDiv p {
  color: white;
  margin-bottom: 0px;
}

#bodyDiv {
  background-color: white;
  border-style: solid;
}

#header {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

#top {
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#sidenav {
  width: 188px;
  position: absolute;
  top: 80px;
}

p {
  margin-top: 0px;
}

h4 {
  border-style: dashed;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 0px;
}

#closeBtn {
  color: white;
  float: right;
  margin-bottom: 0px;
  cursor: pointer;
}
