#multisearch {
  position: relative;
  top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0082F0 !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #000000 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #0082F0 !important;
}

#multiSearchInput {
  border-radius: 4px;
}

div {
  margin: 0px;
  padding: 0px;
}

#filternumcells {
  padding-bottom: 13px;
  background-color: #DDDDDD;
}
#multiButton{
  top:2.5%;
}

#locationsearch {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}
#locSelectButton{
  position: absolute;
  top: 46%;
  right: 23%;
  height: 30px;
  width: 24px;
}
#locIcon{
  position: absolute;
  width: 20px;
  left: 0.1px;
  bottom: .01px;
  top: .01px;

}
#radiusBtn {
 position: absolute;
  right:1%;
  top:45%;
}

#locSearchInputState {
  border-radius: 4px;
}

#locSearchInputCity {
  border-radius: 4px;
}

#cellSearchInput {
  border-radius: 4px;
}

#filterBtn {
  bottom: 2px;
  left: 10;
}

#multifilter {}

#numcellsearch1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

#locationradiussearch {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

#measuredistanceselect {
  background-color: #DDDDDD;
  padding-bottom: 15px;
}

#radiusLocSearchInput1 {
  border-radius: 4px;
}


#buttons {
  margin: 0;
  padding: 0;
}

#radiusLocSearchInput2 {
  border-radius: 4px;
}



#searchGo {
  top: 67%;
  right: 0%;
  height: 30px;
  text-align: center;
  line-height: 1em;
}

#searchGo:active {
  background-color: #767676;
}

#reset {
  height: 30px;
  text-align: center;
  line-height: 1em;
  vertical-align: top;
}

#addressButton {
  position: absolute;
  left: 15%;
  vertical-align: top;
}

#reset:active {
  background-color: #767676;
  vertical-align: top;
}

#measureButton {
  position: absolute;
  right: 5px;
  bottom: 15%;
  vertical-align: top;
}

#export {
  left: 35%;
  height: 30px;
  text-align: center;
  line-height: 1em;
  vertical-align: top;
}

#export:active {
  background-color: #767676;
}

button {
  background-color: #0082F0;
  color: #ffffff;
  display: inline-block;
  position: absolute;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0082F0 !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #000000 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #0082F0 !important;
}

::ng-deep .mat-form-field.mat-disabled .mat-form-field-ripple {
  background-color: gray !important;
}



.mat-button-toggle {
  background-color: #0082F0;
  color: #ffffff;
  font-family: Arial;
  font-size: 13.3333px;
  height: 30px;
  text-align: center !important;
}

.mat-button-toggle-checked {
  background-color: #767676;
}