<div id="multifilter">
  <mat-form-field name="multisearch" *ngIf="!radio && !region">
    <mat-label>Search</mat-label>
    <input matInput type="text" id="multiInput" [(ngModel)]="multifilterinput" (keyup.enter)="multiBtnPushed()">
  </mat-form-field>
  <mat-form-field name="regionsearch" *ngIf="region">
    <mat-label>Search</mat-label>
    <input matInput type="text" id="regionInput" [(ngModel)]="regioninput" (keyup.enter)="multiBtnPushed()" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of regionautocompleteoptions" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-radio-group *ngIf="radio" aria-label="Select an option" (change)="radioChange()" ngModel #radioButtons="ngModel">
    <mat-radio-button value="1" ngDefaultControl>Yes</mat-radio-button>&nbsp;
    <mat-radio-button value="0" ngDefaultControl>No</mat-radio-button>
  </mat-radio-group>&nbsp;
  <mat-form-field>
    <mat-label>Search Type</mat-label>
    <mat-select id="multifiltertype" [(ngModel)]="multifiltertype" (selectionChange)="checkRadio(); checkRegion()">
      <mat-option value="Region">Region</mat-option>
      <mat-option value="Frequency Band">Frequency Band</mat-option>
      <mat-option value="TAC">TAC</mat-option>
      <mat-option value="RET Capability">RET Capable</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button id="multiButton" (click)="multiBtnPushed(); ready()">Apply</button>
</div>
<div id="filternumcells">
  Number of cells
  <mat-button-toggle-group id="criteriaToggle" #numcellcriteria="matButtonToggleGroup" [(ngModel)]="criteriatoggle">
    <mat-button-toggle value="less">
      <=</mat-button-toggle> <mat-button-toggle value="equal">=
    </mat-button-toggle>
    <mat-button-toggle value="greater">>=</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field>
    <input matInput type="text" id="cellSearchInput" [(ngModel)]="numcellsinput" (keyup.enter)="filterNumCells()">
    <mat-hint>Displays RBSs with specified criteria</mat-hint>
    <button mat-button id="filterBtn" (click)="filterNumCells(); ready()">Filter</button>
  </mat-form-field>
</div>
<div id="locationradiussearch">
  <mat-form-field id="locselectinstr" *ngIf="locselect">
    <mat-label>Select Location on Map</mat-label>
    <input matInput name="locselectinstruction" type="text" [disabled]=true>
  </mat-form-field>
  <mat-form-field *ngIf="!locselect">
    <mat-label>Location</mat-label>
    <input matInput name="rInput1" ngDefaultControl type="text" id="radiusSearchInput1" [(ngModel)]="radiussearchinput1" (ngModelChange)="radiusSearchAutocomplete()" (keyup.enter)="radiusButton()" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option id="option1" name="option1" ngDefaultControl [(ngModel)]="opt1" (click)="radiussearchinput1 = opt1">{{opt1}}</mat-option>
      <mat-option id="option2" name="option2" ngDefaultControl [(ngModel)]="opt2" (click)="radiussearchinput1 = opt2">{{opt2}}</mat-option>
      <mat-option id="option3" name="option3" ngDefaultControl [(ngModel)]="opt3" (click)="radiussearchinput1 = opt3">{{opt3}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>&nbsp;
  <mat-form-field>
    <mat-label>Radius</mat-label>
    <input matInput name="rInput2" type="text" id="radiusSearchInput2" [(ngModel)]="radiussearchinput2" (keyup.enter)="radiusButton()" ngDefaultControl>
    <mat-hint>Get RBSs within radius of location</mat-hint>
  </mat-form-field>
  <mat-button-toggle name="locSelect" id="locSelectButton" [(ngModel)]="locselect" (click)="locselect = !locselect; resetLayers(3); radiussearchinput1 = undefined" ngDefaultControl #selectLocation><i id="locIcon"
      class="material-icons">location_on</i></mat-button-toggle>&nbsp;
  <button mat-button id="radiusBtn" (click)="radiusButton(); ready()">Radius filter</button>
</div>
<div id="measuredistanceselect">
  <mat-form-field>
    <input matInput type="text" id="measureId" placeholder="Enter eNodeBID 1" [(ngModel)]="enode1input" (keyup.enter)="sendEnode1Input()">
    <mat-hint>Get distance between 2 eNodeBIDs</mat-hint>
  </mat-form-field>
  <i class="material-icons">arrow_right_alt</i>
  <mat-form-field>
    <input matInput type="text" id="measureId1" placeholder="Enter eNodeBID 2" [(ngModel)]="enode2input" (keyup.enter)="sendEnode2Input()">
  </mat-form-field>
  <button mat-button id="searchGo" (click)="sendEnode1Input(); sendEnode2Input(); enodeMeasure(); ready()">eNode measure</button>
</div>
<br>
<div id="buttons">
  <button mat-button id="reset" (click)="resetSearch(); resetLayers(2);">Reset</button>
  <mat-button-toggle id="measureButton" (click)="measurebuttonstatus = !measurebuttonstatus; sendMeasureButtonStatus()">Click to Measure</mat-button-toggle>
  <mat-button-toggle id="addressButton" (click)="addressbuttonstatus = !addressbuttonstatus; sendAddressButtonStatus()"> Get Address</mat-button-toggle>
  <button mat-button id="export" (click)="export()">Export filtered data</button>
</div>
