<div id="headerDiv">
  <div id="top">
    <p id="myBtn" (click)="close()">&#10006;</p>
    <h3 id="header">Base station details</h3>
  </div>
  <div *ngIf="selectedRbs">
    <p id="numCells">Number of cells: {{selectedRbs.numCells}}</p><br>
    <h4 id="coorHead" style="border-top: 2px">Coordinates</h4>
    <p id="lonP">Lon: {{selectedRbs.longitude}}</p>
    <p id="latP">Lat: {{selectedRbs.latitude}}</p>
    <div>
      <p id="address"></p>
    </div>
  </div>
</div>
<div id="bodyDiv">
  <div *ngIf="cgis">
    <mat-form-field>
      <mat-label>CGIs</mat-label>
      <mat-select (selectionChange)="changeCellInfo($event.value)">
        <mat-option *ngFor="let cgi of cgis" [value]="cgi">{{cgi}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button id="tableBtn" (click)="openDialog()" mat-raised-button>Details for all entries</button>
  <button id="excelBtn" (click)="exportAsXLSX()" mat-raised-button>Export as CSV</button>
</div>
