<!-- Input for search by enodeBID/cgi -->
<label class="expandSearch">
  <input type="text" placeholder="Search eNodeBID/CGI" id="searchInput" (keyup)="searchStart($event)">
  <i class="material-icons">settings_input_antenna</i>
</label>

<!-- Input for search by address -->
<label class="expandSearch">
  <form autocomplete="off" action="/action_page.php" class="searchBox">
    <div class="autocomplete" style="width:300px;">
      <input type="search" (input)="getAddress()" (keyup)="enterHit($event)" name="srch" id="AddressSearch" list="datalist1" placeholder="Address/Lat,Lon" source="../assets/images/search.png">
    </div>
    <!-- data list displays the 3 closest results -->
    <datalist id="datalist1">
      <option (onselect)="moveTo()" id="opt1"></option>
      <option (onselect)="moveTo()" id="opt2"></option>
      <option (onselect)="moveTo()" id="opt3"></option>
    </datalist>
  </form>
  <i class="material-icons">location_on</i>
</label>
