#map {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  overflow: hidden;
}

#search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#sidenav {
  top: 0px;
  height: 100%;
  min-width: 75px;
  width: 188px;
  position: absolute;
}

#sidenavcontainer {
  background-color: transparent;
}

#overlay {
  position: absolute;
  top: 400px;
  left: 30px;
  z-index: 2;
}

#zoom {
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 2;
}

#colour {
  color: #0082F0;
}

#mapStyle {
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: 2;
}

#showsearch {
  width: 5px;
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  border-radius: 25px;
  background-color: #0082F0;
  color: #ffffff;
}

#distance {
  position: absolute;
  right: 50%;
  top: 20%;
}

.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.tp-full-width {
  width: 100%;
}

input {
  background-color: white;
}

#searchsidebarcontainer {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 555px;
  overflow: hidden;
  border-radius: 15px;
  pointer-events: none;
  background-color: transparent;
}

.example-container {
  background-color: transparent;
}

#searchsidebar {
overflow: hidden;
  background-color: whitesmoke;
  height: 70%;
  min-width: 525px;
  border-radius: 15px;
  pointer-events: all;
}

#searchsidebarcontent {
  min-height: 300px;
  overflow: hidden;
}

#export {
  left: 100vw;
}
