<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
  <mat-sidenav-container class="example-container">
    <mat-sidenav id="sidenav" #sidenav position="start" class="sidebar" opened="false" disableClose="true">
      <app-sidenav [selectedRbs]="rbs" [cells]="cellList" [cgis]="cgiList" (closeMethod)="closeNav()" (getCell)="setCellInfo($event)"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="map">
        <div id=search>
          <app-search *ngIf="map" [RbsMap]="rbsMap" [map]="map" [source]="vectorSource" [notifyServ]="notice" (findFeature)="findFeature($event)"></app-search>
        </div>
        <button mat-button id="showsearch" (click) = "searchsidebar.toggle()"><i class="material-icons">list</i></button>
        <mat-sidenav-container id="searchsidebarcontainer">
          <mat-sidenav position="end" mode="side" id="searchsidebar" #searchsidebar>
            <app-toolbox *ngIf="map" [RbsMap]="rbsMap" [map]="map" [source]="vectorSource" [notifyServ]="notice" [featureSetup]="featureSet" [colourBlindMode]="colourBlind"></app-toolbox>
          </mat-sidenav>
        </mat-sidenav-container>
        <div id="zoom">
          <button (click)="zoom($event)"><i class="material-icons">zoom_out</i></button>
          <button (click)="zoom($event)"><i class="material-icons">zoom_in</i></button>
        </div>
        <div id="mapStyle">
          <mat-checkbox id="colour" (change)="colourBlindMode()" #colourBlindBtn>:Colour blind mode</mat-checkbox><br>
          <button id="mapRoad" (click)="setView($event)">Road</button>
          <button id="mapSat" (click)="setView($event)">Satellite</button>
        </div>
      </div>
    </mat-sidenav-content>
    <mat-sidenav position="end" id="endnav" disableClose="true" #endnav>
      <app-endnav [cell]="setCell"></app-endnav>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
